# Python
venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
ENV/
.venv

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars
terraform/crash.log
terraform/override.tf
terraform/override.tf.json
terraform/*_override.tf
terraform/*_override.tf.json
terraform/.terraformrc
terraform/terraform.rc
